.List-guru {
    border: 1px solid black;
    background: #CDDC39;
    max-width: 200px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 2px 5px 5px 0px rgba(22, 22, 23, 0.33);
    }
    .guru-mtk {
        background: orange;
        border-radius: 4px;
    }